In [3]:
# Import the pandas library and give it an alias 'pd'
import pandas as pd

# Import the numpy library and give it an alias 'np'
import numpy as np

# Import the seaborn library and give it an alias 'sns'
import seaborn as sns

# Import the matplotlib.pyplot library and give it an alias 'plt'
import matplotlib.pyplot as plt

In [4]:
# Read data from a CSV file using pandas. The file is named 'Sample - Superstore.csv'.
# The 'encoding' parameter is set to 'latin-1' to handle non-UTF-8 encoded characters.
df = pd.read_csv('Sample - Superstore.csv', encoding='latin-1')

# Display the first few rows (default is 5) of the DataFrame 'df' to inspect the data.
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [5]:
# Obtain information about the DataFrame 'df' and its data distribution.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [6]:
# Generate summary statistics for the data in the DataFrame 'df'.
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [ ]:
#Visualization of Shipmode, Segment and City
# Create a figure with a size of 12x8 inches.
plt.figure(figsize=(12, 8))

# Create a subplot grid of 2 rows and 2 columns, and select the first subplot.
plt.subplot(2, 2, 1)

# Create a countplot to visualize the distribution of 'Ship Mode'.
sns.countplot(data=df, x='Ship Mode')
plt.title('Ship Mode Distribution')

# Select the second subplot.
plt.subplot(2, 2, 2)

# Create a countplot to visualize the distribution of 'Segment'.
sns.countplot(data=df, x='Segment')
plt.title('Segment Distribution')

# Select the third subplot.
plt.subplot(2, 2, 3)

# Create a countplot to visualize the top 10 cities by orders.
# The 'order' parameter ensures that the cities are ordered by the number of orders.
sns.countplot(data=df, y='City', order=df['City'].value_counts().index[:10])
plt.title('Top 10 Cities by Orders')

# Automatically adjust subplot positions for better layout.
plt.tight_layout()

# Display the visualizations.
plt.show()

:

In [ ]:
# Visualization of Sales,Quanityt,Discount, and Profit 
# Create a new figure with a size of 12x8 inches.
plt.figure(figsize=(12, 8))

# Select the first subplot.
plt.subplot(2, 2, 1)

# Create a histogram (histplot) to visualize the distribution of 'Sales' with 20 bins.
sns.histplot(data=df, x='Sales', bins=20)
plt.title('Sales Distribution')

# Select the second subplot.
plt.subplot(2, 2, 2)

# Create a histogram (histplot) to visualize the distribution of 'Quantity' with 20 bins.
sns.histplot(data=df, x='Quantity', bins=20)
plt.title('Quantity Distribution')

# Select the third subplot.
plt.subplot(2, 2, 3)

# Create a histogram (histplot) to visualize the distribution of 'Discount' with 20 bins.
sns.histplot(data=df, x='Discount', bins=20)
plt.title('Discount Distribution')

# Select the fourth subplot.
plt.subplot(2, 2, 4)

# Create a histogram (histplot) to visualize the distribution of 'Profit' with 20 bins.
sns.histplot(data=df, x='Profit', bins=20)
plt.title('Profit Distribution')

# Automatically adjust subplot positions for better layout.
plt.tight_layout()

# Display the visualizations.
plt.show()

NameError: name 'plt' is not defined

In [ ]:
#Data splitting and subset creation
# Create subsets for cities 'Philadelphia' and 'Los Angeles' with quantities greater than 5.
subset1 = df[(df['City'] == 'Philadelphia') & (df['Quantity'] > 5)]
subset2 = df[(df['City'] == 'Los Angeles') & (df['Quantity'] > 5)]

In [1]:
#Summary Statistics calculations
# Calculate summary statistics for the sales distribution in each subset.
summary_subset1 = subset1['Sales'].describe()
summary_subset2 = subset2['Sales'].describe()

NameError: name 'subset1' is not defined

In [2]:
#Visualization of Sales Distribution
# Create a figure with a size of 12x6 inches.
plt.figure(figsize=(12, 6))

# Create subplots for visualizing the sales distribution in each subset.
plt.subplot(1, 2, 1)
sns.histplot(data=subset1, x='Sales', bins=20)
plt.title('Sales Distribution in Philadelphia (Quantity > 5)')

plt.subplot(1, 2, 2)
sns.histplot(data=subset2, x='Sales', bins=20)
plt.title('Sales Distribution in Los Angeles (Quantity > 5)')

# Automatically adjust subplot positions for better layout.
plt.tight_layout()

# Display the visualizations.
plt.show()

NameError: name 'plt' is not defined

In [3]:
#Display Summary Statistics
# Display summary statistics for each subset.
print("Summary Statistics for Philadelphia Subset:")
print(summary_subset1)
print("Summary Statistics for Los Angeles Subset:")
print(summary_subset2)

Summary Statistics for Philadelphia Subset:

NameError: name 'summary_subset1' is not defined

In [4]:
#Data preparation and correlations
# Step 1: Filter the DataFrame to include only numeric columns
numeric_columns = df.select_dtypes(include='number')

# Calculate the correlation matrix
correlation_matrix = numeric_columns.corr()

NameError: name 'df' is not defined

In [5]:
#Identify Features with the strongest correlations
# Step 2: Identify the features with the strongest positive and negative correlations with 'Sales'
# Filter out the 'Sales' column
correlation_with_sales = correlation_matrix['Sales'].drop('Sales')

# Find the feature with the strongest positive correlation
strongest_positive_corr_feature = correlation_with_sales.idxmax()

# Find the feature with the strongest negative correlation
strongest_negative_corr = correlation_matrix['Sales'].nsmallest(1).index

NameError: name 'correlation_matrix' is not defined

In [6]:
#Create Scatterplots to visualize relationships
# Step 3: Create plots to represent these relationships
plt.figure(figsize=(12, 6))
plt.subplot(1, 2, 1)
sns.scatterplot(data=df, x=strongest_positive_corr_feature, y='Sales')
plt.title(f'Positive Correlation: {strongest_positive_corr_feature} vs. Sales')

plt.subplot(1, 2, 2)
sns.scatterplot(data=df, x=strongest_negative_corr[0], y='Sales')
plt.title(f'Negative Correlation: {strongest_negative_corr[0]} vs. Sales')

# Automatically adjust subplot positions for better layout.
plt.tight_layout()

# Display the scatterplots.
plt.show()

NameError: name 'plt' is not defined

In [7]:
# Step 1: Choose two significant columns
col1 = 'Profit'
col2 = 'Discount'

# Step 2: Create the new feature by subtracting one column from the other
df['Net_profit'] = df[col1] - df[col2]

# Step 3: Visualize the relationship between the new feature and sales
plt.scatter(df['Net_profit'], df['Sales'])
plt.xlabel('New Profit')
plt.ylabel('Sales')
plt.title('Relationship between Net profit and Sales')
plt.show()

NameError: name 'df' is not defined